<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>get method</p>
    <form method="get" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit"/>
    </form>
    <p>post method</p>
    <form method="post" action="~/Name.cshtml">
        <input type="text" name="name" />
        <input type="submit"/>
    </form>


</body>
</html>
